* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Arial, sans-serif;
    background-color: rgb(27, 7, 51);
    font-size: 16px;
    text-align: center;
    color: #ebe3e3;
}

a {
    color: #ebe3e3;
}

a:hover {
    color: hotpink;
}

.title {
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}

.recipe-card {
    font-size: 1rem;
    border: 3px double rgb(71, 39, 109);
    display: inline-block;
    padding: 1rem;
    width: 40%;
}

.bio {
    padding: 10px;
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

.recipes-list {
    padding: 10px;
    float: right;
    width: 50%;
    text-align: right;
}

.bio p {
    margin-bottom: 10%;
}

.keyword-list {
    padding: 1rem;
}






