* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: "Times New Roman", Arial, sans-serif;
    background-color: rgb(27, 7, 51);
    font-size: 16px;
    text-align: center;
    color: #ebe3e3;
}

a {
    color: #ebe3e3;
}

a:hover {
    color: hotpink;
}

.odin-title {
    text-align: center;
    padding: 2rem;
}

.recipe-card {
    font-size: 1rem;
    border: 3px double rgb(71, 39, 109);
    display: inline-block;
    padding: 1rem;
    margin: 15px;
}  

.bio {
    padding: 15px;
    display: inline-block;
    width: 250px;
}

.bio p {
    margin-bottom: 10px;
}

.recipes-list {
    display: inline-block;
}




